$color_1: var(--oxford-blue-354e57);
$color_2: inherit;
$background-color_1: var(--athens-gray-eef2f4);
$background-color_2: var(--light-sky-eef3f4);

/* Header */
.header {
  padding: 44px 0 20px;
  .container {
    max-width: 1216px;
  }
  li {
    color: $color_1;
    font-weight: bold;
    a {
      text-decoration: none;
      letter-spacing: 0.8px;
      color: $color_2;
      padding: 5px 15px;
      transition: all ease-out 0.2s;
      &:hover {
        background-color: $background-color_1;
      }
    }
  }
  h3 {
    font-size: var(--font-size-32);
    letter-spacing: 1.6px;
    color: $color_1;
  }
  .column-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col-seven {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 77%;
  }
  ul {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    justify-content: center;
  }
  .col-three {
    width: 23%;
    ul {
      justify-content: flex-end;
      li {
        font-size: 12px;
        margin: 14px 16px 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
      li.search-icon {
        width: 10px;
        cursor: pointer;
      }
    }
  }
  .center-menu {
    width: 66.66%;
    text-align: center;
    .product-name {
      margin-top: 25px;
      display: block;
      ul {
        li {
          margin-right: 30px;
          font-size: var(--font-size-16);
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .left-menu {
    width: 33.33%;
    ul {
      justify-content: flex-start;
      li {
        font-size: 12px;
        margin: 14px 16px 0 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .mobile-menu {
    display: none;
  }
}
.header.fixed {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11111;
}
@media screen and (max-width: 1200px) {
  .header {
    .center-menu {
      .product-name {
        ul {
          li {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .menu-mobile {
    overflow: hidden;
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $background-color_2;
      overflow: hidden;
      overflow-y: scroll;
      z-index: 1111;
    }
  }
  .header {
    padding: 20px 0;
    .col-three {
      ul {
        li.search-icon {
          margin-right: 20px;
        }
        li {
          &:last-child {
            display: none;
          }
          margin: 0;
        }
      }
      margin-right: 0;
      position: absolute;
      width: auto;
      top: 5px;
      right: 0;
      z-index: 1111;
    }
    .center-menu {
      .menu-title {
        display: none;
      }
      ul {
        display: block;
      }
      width: 100%;
      text-align: left;
      .product-name {
        display: block;
        margin-top: 130px;
        ul {
          li {
            margin: 0 0 45px 0;
            font-size: 24px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .mobile-menu {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: fit-content;
      height: 20px;
      cursor: pointer;
      z-index: 1;
      h3 {
        font-size: var(--font-size-25);
      }
      .bar-wrapper {
        display: flex;
        align-items: center;
        height: 20px;
        svg {
          width: 25px;
          margin-right: 10px;
        }
      }
    }
    .column-wrapper.active {
      .mobile-menu {
        left: 9px;
        .close {
          svg {
            width: 45px;
            margin-right: 10px;
          }
        }
        .bar-wrapper {
          display: none;
        }
      }
      margin-top: 30px;
      .col-seven {
        width: calc(100% + 40px);
        padding: 0 20px;
      }
    }
    .left-menu {
      ul {
        display: block;
        li {
          margin: 30px 0;
        }
      }
      width: 100%;
      text-align: left;
      margin: 117px 0 20px;
    }
    .col-seven {
      flex-direction: column-reverse;
      width: 0;
      position: absolute;
      top: 19px;
      left: -20px;
      background-color: $background-color_2;
      overflow: hidden;
      transition: all ease-out 0.3s;
      z-index: 1111;
    }
  }
  .header.header.fixed {
    .column-wrapper {
      padding-bottom: 10px;
    }
  }
}
