$color_1: var(--white-ffffff);
$color_2: var(--athens-gray-eef2f4);
$color_3: var(--rangitoto-2e2e22);
$background-color_1: #547665;

.teaser {
  position: relative;
  background-color: $background-color_1;
  // padding: 10px;
  .bg-img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    .bg-with-color {
      width: 50%;
    }
    .img-wrapper {
      width: 50%;
      height: 731px;
      overflow: hidden;
      img {
        position: relative;
        bottom: 30%;
      }
    }
  }
  .inner-wrapper {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
  }
  .content-wrapper {
    max-width: 465px;
    h2 {
      color: $color_1;
      font-weight: bold;
      margin-bottom: 23px;
    }
    p {
      color: $color_2;
      line-height: 24px;
      margin-bottom: 55px;
    }
  }
}
.teaser.img-left {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .column-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .bg-img {
    justify-content: flex-start;
  }
  .content-wrapper {
    p {
      color: $color_3;
    }
  }
  .img-wrapper {
    img {
      bottom: 55%;
      width: 154%;
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1280px) {
  .teaser {
    .bg-img {
      .img-wrapper {
        height: 600px;
        img {
          position: initial;
          object-fit: none;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .teaser {
    .bg-img {
      .img-wrapper {
        width: 100%;
        height: 563px;
        img {
          bottom: 21%;
          right: 5%;
          width: 154%;
        }
      }
    }
    .inner-wrapper {
      position: initial;
      transform: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: centera;
      height: 563px;
    }
    .content-wrapper {
      max-width: 100%;
      height: 100%;
    }
  }
  .teaser.img-left {
    .img-wrapper {
      img {
        bottom: 10%;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .teaser {
    .bg-img {
      .img-wrapper {
        img {
          bottom: 67%;
          right: 0;
          width: auto;
        }
      }
    }
  }
}
